.App {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;  
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.fh {
    height:75vh;
}

.col-6, .col-12 {
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
}

.overlayContainer {
    width: 100%;
    height: 100%;
    position: fixed;  
}

.test {
    height:92.75vh;
}

.exactCenter {
		width:800px;
		height:400px;
		position: fixed;
		top: 37.5%;
		left: 50%;
		margin-top: -200px;
		margin-left: -400px;
}

.leftSide {
    width:400px;
    height:400px;
    position: fixed;
    top: 37.5%;
    left: 25%;
    margin-top: -200px;
    margin-left: -200px;
}

.rightSide {
    width:400px;
    height:400px;
    position: fixed;
    top: 37.5%;
    left: 75%;
    margin-top: -200px;
    margin-left: -200px;
}

.bayernLogo {  
    padding: 50px;
}

#video_overlays.image-gallery-slide {
    background: transparent;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

#video_box{
    position: absolute;
    width: 100%
}
#video_overlays {
    position:absolute;
    width:20%;
    min-height:40px;
    background-color:transparent;
    z-index:300000;
    bottom:40px;
    left:0px;
    text-align:center;
}

#video_overlays2 {
    position:absolute;
    width:20%;
    min-height:40px;
    background-color:transparent;
    z-index:300000;
    bottom:40px;
    right:0px;
    text-align:center;
}

#video_player {
    position:absolute;
    left: 0px;
    top: 0px;
}

/* remove the blue rectangle of the image gallery nav button*/
button:focus {
    outline: none;
}

.nav_button {
    margin: 10px;
    border: 10px solid transparent;
    opacity: 0.7;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
}

a .fa-twitter-square { color: #00aced; }
a .fa-facebook-square { color: #3b5998; }
a .fa-youtube-square { color: #bb0000; }
a .fa-google-plus-square { color: #dd4b39; }
a .fa-linkedin-square { color: #007bb6; }
a .fa-instagram { color: #517fa4; }
a .fa-flickr { color: #ff0084; }

i {margin: 10px;}