body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#video_box{
  position:relative;
}
#video_overlays {
  position:absolute;
  width:160px;
  min-height:40px;
  background-color:transparent;
  z-index:300000;
  bottom:50px;
  left:10px;
  text-align:center;
}

